* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "M__bold" ;
    src: url("./Montserrat/Montserrat-Bold.ttf");
}

@font-face {
    font-family: "M__regular" ;
    src: url("./Montserrat/Montserrat-Regular.ttf");
}

.header {
    padding: 32px;
}

.nav {
    text-align: center;
}

.nav__menu {
    display: inline;
}

.nav__item {
    display: inline;
    padding: 0px 65px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: rgba(255, 0, 0, 1);
    font-family: "M__bold";
    font-size: 18px;
}

.image {
display: block;
margin: auto;
width: 100%;
}

.caption {
    width: 774px;
    text-align: center;
    margin: auto;
    margin-top: 48px;  
}

h2 {
    color: rgba(55, 55, 55, 1);
    letter-spacing: 3.3px;
    font-family: "M__bold";
}

.paragraph {
    color: rgba(55, 55, 55, 1);
   width: 1145px;
   margin: auto;
    text-align: center;
    letter-spacing: 2.4px;
    font-size: 16px;
    line-height: 26px;
    font-family: "M__regular";
}

.paragraph__first {
margin-top: 38px;
}

.paragraph__second {
margin-top: 28px;
}

.button-wrapper {
    text-align: center;
    margin-top: 66px;
}

.main__button {
    text-transform: uppercase;
    border: none;
    background-color: rgba(255, 0, 0, 1);
    color: white;
    padding: 18px 43px 17px 42px;
    border-radius: 4px;
    font-family: "M__bold";
    letter-spacing: 1.8px;
    cursor: pointer;
    font-size: 12px;
}

.footer {
    color: rgba(55, 55, 55, 1);
    width: 1070px;
    text-align: right;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 83px;
    font-family: "M__bold";
    letter-spacing: 2.4px;
    font-size: 16px;
}



